@page
@model FYP_Appointment_Management.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Patient List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Patient_First_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Patient_Last_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Patient_Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Patient_DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Patient_Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient[0].Patient_Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patient) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_First_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Last_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Patient_Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Patient_Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Patient_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
