@page
@model FYP_Appointment_Management.Pages.Staff_pages.IndexModel
@{
    ViewData["Title"] = "My Consultations";
}
<div style="display: flex; align-items: center; margin-right: 10%; justify-content: left;">
	<h1>@ViewData["Title"]</h1>
    <div style="display: flex; margin-left: 5%;">
        <a asp-area="" asp-page="/Staff-pages/staff-login" class="btn btn-light"> Home</a>
    </div>
    <div style="display: flex; margin-left: 2%;">
        <a asp-area="" asp-page="/Staff-pages/staff-account" class=" btn btn-light">Account</a>
    </div>
    <div style="display: flex; margin-left: 2%;">
        <a asp-area="" asp-page="/Staff-pages/look_up" class="btn btn-light">Look-up Patient</a>
    </div>
    <div style="display: flex; margin-left: 2%;">
        <a asp-area="" asp-page="/Logout-page" class="btn btn-light">Logout</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Patient_Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Staff_appointments in Model.Staffs_appointments)
        {
            <tr>
                <td>@Staff_appointments.Date.ToShortDateString()</td>
                <td>@Staff_appointments.Time.ToShortTimeString()</td>
                <td>@Staff_appointments.Patient_Name</td>
                <td>@Staff_appointments.Status</td>
                <td>@Staff_appointments.Actions</td>
                <td>
                    <button class="btn btn-primary" onclick="confirmAppointment('@Staff_appointments.Id')">Confirm</button>
                    <button class="btn btn-warning" onclick="rescheduleAppointment('@Staff_appointments.Id')">Reschedule</button>
                    <button class="btn btn-danger" onclick="cancelAppointment('@Staff_appointments.Id')">Cancel</button>
                </td>
            </tr>
        }
    </tbody>
</table>